<form method="post" action="{{ path('app_parfum_delete', {'id': parfum.id}) }}" onsubmit="return confirm('tu veux supprimer cette parfum?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parfum.id) }}">
    <button class="btn">Delete</button>
</form>
