{% extends 'base.html.twig' %}

{% block title %}new parfum{% endblock %}

{% block body %}
    <h1>Create new Parfum</h1>

    {{ include('parfum/_form.html.twig') }}

    <a  class="btn btn-primary"href="{{ path('app_parfum_index') }}">Retour à la liste</a>
       {# <a class="btn btn-primary" href="{{ path('app_parfum_index') }}">Retour à la liste</a> #}

{% endblock %}
